.footer-main {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-block: 30px;
}
.input-footer {
    width: 200px;
    height: 30px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    padding-left: 10px;
}
.inner-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}